<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qpidnetwork.livemodule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".liveshow.LiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme.App">

        <!-- 文件下载器进程 -->
        <service android:name="com.liulishuo.filedownloader.services.FileDownloadService$SharedMainProcessService" />
        <service
            android:name="com.liulishuo.filedownloader.services.FileDownloadService$SeparateProcessService"
            android:process=":filedownloader" />

        <activity
            android:name=".liveshow.welcome.PeacockActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".liveshow.home.MainFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.authorization.SelecteCountryCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.welcome.LoginChooserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.authorization.SignUpSendVerifCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.authorization.ModifyPasswrodSendVerifCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.authorization.LoginByMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.authorization.SignUpByMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.authorization.ModifyPasswordByMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".liveshow.welcome.WelcomeActivity"
            android:screenOrientation="portrait" />

        <!--直播间-->
        <activity
            android:name=".liveshow.home.live.CoverManagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".liveshow.liveroom.AudienceLiveRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".liveshow.liveroom.AnchorLiveRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!--软键盘弹出后的高度后面通过自定义EditText细调节-->
        <activity
            android:name=".liveshow.liveroom.AudienceEndActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".liveshow.liveroom.AnchorEndActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>