EMBED_ASSET_PACKS_IN_PRODUCT_BUNDLE = NO
ENABLE_BITCODE = NO
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 8.0
OTHER_LDFLAGS = $(inherited) -lssl -lcrypto -lcurl -lavcodec -lavdevice -lavutil -lpostproc -lswscale -lavfilter -lavformat -lswresample -lx264 -lfdk-aac
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
FRAMEWORK_SEARCH_PATHS = $(inherited) ${EXTERN_ROOT}
HEADER_SEARCH_PATHS = $(inherited) ${LIVECHATMANAGER_ROOT}/** ${LIVEMESSAGE_ROOT} ${LIVEMESSAGE_COMMON_SRC_ROOT} ${LIVEMESSAGE_SRC_ROOT} ${RTMPCLIENT_ROOT} ${IMPCLIENT_SRC_ROOT} ${IMPCLIENT_ROOT} ${COMMON_C_SRC_ROOT} ${COMMON_C_SRC_THIRD_PARTY_ROOT} ${COMMON_C_LBRARY_ROOT} ${LIVEMESSAGE_COMMON_SRC_ROOT} ${LIVEMESSAGE_SRC_ROOT} ${COMMON_C_LBRARY_CURL_ROOT}/include ${COMMON_C_LIBRARY_OPENSSL_ROOT}/include $(SRCROOT)/../../Config
LIBRARY_SEARCH_PATHS = $(inherited) ${COMMON_C_LBRARY_CURL_ROOT}/lib ${COMMON_C_LIBRARY_OPENSSL_ROOT}/lib ${THIRD_PARTY_FFMPEG_ROOT}/lib ${EXTERN_ROOT}/voicelib
USER_HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/../Source/Header ${UI_WIDGET_ROOT}/** ${COMMON_WIDGET_ROOT}/** ${UI_WIDGET_ROOT)/Extern/**
WARNING_CFLAGS =
GCC_INPUT_FILETYPE = automatic
SWIFT_VERSION = 3.0
COMMON_C_LBRARY_CURL_ROOT = ${COMMON_C_LBRARY_ROOT}/third-party/curl/
COMMON_C_LBRARY_ROOT = ${MODULES_ROOT}/Common-C-Library/Common-C-Library
COMMON_C_LIBRARY_OPENSSL_ROOT = ${COMMON_C_LBRARY_ROOT}/third-party/openssl/
COMMON_C_SRC_ROOT = ${SRCROOT}/../../../common-c-library
COMMON_C_SRC_THIRD_PARTY_ROOT = ${COMMON_C_SRC_ROOT}/third_party
COMMON_WIDGET_ROOT = ${MODULES_ROOT}/CommonWidget/CommonWidget
LIVEMESSAGE_COMMON_SRC_ROOT = ${SRCROOT}/../../../common
LIVEMESSAGE_ROOT = ${MODULES_ROOT}/LiveMessageManager/LiveMessageManager
LIVEMESSAGE_SRC_ROOT = ${SRCROOT}/../../../livemessage/LiveMessagemanmanager
EXTERN_ROOT = $(PROJECT_DIR)/../Extern
IMPCLIENT_ROOT = ${MODULES_ROOT}/ImClient/ImClient
IMPCLIENT_SRC_ROOT = ${SRCROOT}/../../../common/ImClient
MODULES_ROOT = ${SRCROOT}/../../Modules
RTMPCLIENT_ROOT = ${MODULES_ROOT}/RtmpClient/RtmpClient
THIRD_PARTY_FFMPEG_ROOT = ${COMMON_C_SRC_ROOT}/third_party/ffmpeg/iOS
UI_WIDGET_ROOT = ${MODULES_ROOT}/UIWidget/UIWidget
LIVECHATMANAGER_ROOT = ${MODULES_ROOT}/LiveChatLibrary/LiveChatLibrary
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEF_PRODUCT_BUNDLE_IDENTIFIER='@"$(PRODUCT_BUNDLE_IDENTIFIER)"'
//OTHER_CFLAGS = $(inherited) -fvisibility=hidden
