
*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.xcbkptlist

livestream/Project/livestream.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist

android/coollive/.classpath

*.prefs
