<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TwitterAppID</key>
	<string>6LDet7RCQCkGwPOUKMg1KpshE</string>
	<key>TwitterAppSecret</key>
	<string>mexa24IH6iOBmXDCz6XR6RQUojfn7swJ7GeKoj4LGs0fsq6leu</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
</dict>
</plist>
