EMBED_ASSET_PACKS_IN_PRODUCT_BUNDLE = NO
ENABLE_BITCODE = NO
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 8.0
OTHER_LDFLAGS = $(inherited) -lavcodec -lavdevice -lavutil -lpostproc -lswscale -lavfilter -lavformat -lswresample -lx264 -lfdk-aac
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
FRAMEWORK_SEARCH_PATHS = $(inherited)
HEADER_SEARCH_PATHS = $(inherited) ${RTMPCLIENT_ROOT} ${COMMON_C_SRC_ROOT} ${COMMON_C_SRC_THIRD_PARTY_ROOT} ${COMMON_C_LBRARY_ROOT}
LIBRARY_SEARCH_PATHS = $(inherited) ${THIRD_PARTY_FFMPEG_ROOT}/lib
USER_HEADER_SEARCH_PATHS = $(inherited)
WARNING_CFLAGS =
GCC_INPUT_FILETYPE = automatic
SWIFT_VERSION = 3.0
COMMON_C_LBRARY_ROOT = ${SRCROOT}/../../Common-C-Library/Common-C-Library
COMMON_C_SRC_ROOT = ${SRCROOT}/../../../../common-c-library
COMMON_C_SRC_THIRD_PARTY_ROOT = ${COMMON_C_SRC_ROOT}/third_party
RTMPCLIENT_ROOT = ${SRCROOT}/../RtmpClient
THIRD_PARTY_FFMPEG_ROOT = ${COMMON_C_SRC_ROOT}/third_party/ffmpeg/iOS
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEF_PRODUCT_BUNDLE_IDENTIFIER='@"$(PRODUCT_BUNDLE_IDENTIFIER)"'
