<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>img0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>img16</string>
	</dict>
</array>
</plist>
